- console.log("eventList.jade");
doctype html
html
  head
    meta(charset='UTF-8')
    meta(viewport="width=device-width")
    title 'ふらっと上郷'
    link(rel='stylesheet', href='/kamigou/css/style.css' media='all')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDcN2cxxQpN56tXjSjaNsfjm151mW2RiMw')
    script(type='text/javascript', src='/kamigou/js/jquery.js')
    script(type='text/javascript', src='/kamigou/js/jquery.smoothscroll.js')
    script(type='text/javascript', src='/kamigou/js/jquery.smoothscroll.js')
    script(type='text/javascript', src='/kamigou/js/jquery.scrollshow.js')
    script(type='text/javascript', src='/kamigou/js/jquery.slideshow.js')
    script(type='text/javascript', src='/kamigou/js/script.js')

    script.
      $(function($){
      	$('html').smoothscroll({easing : 'swing', speed : 1000, margintop : 30, headerfix : $('nav')});
      	$('.totop').scrollshow({position : 500});
      	$('.slide').slideshow({
      		touch        : false,
      		bgImage      : true,
      		autoSlide    : true,
      		effect       : 'fade',
      		repeat       : true,
      		easing       : 'swing',
      		interval     : 5000,
      		duration     : 1000,
      		imgHoverStop : false,
      		navHoverStop : false,
      		navImg       : false,
      		navImgCustom : false,
      		navImgSuffix : ''
      	});
      	$('.myaudio').play();
      });

  body

  div#tadasuke.
    <header>
      <img src="/images/title_a.png" alt="ふらっと上郷" style="padding-top: 10px; padding-left: 20px;">
      <img src="/images/subTitle.png" alt="ふらっと上郷" style="width:300px;height:80px;padding-bottom:5px;padding-top:10px;padding-left: 50px;">
    </header>
    
  div.content
      div.twoCol
        div.twoColInner
          - var objs = events;
          - for (var i in objs) {
              div(style="margin-right:2px;margin-left:2px;margin-top:2px")
                p(style="position:relative;")
                  a(href="/kamigou/eventDetail?file_name=" + objs[i].filename)
                    img(src=objs[i].picture,opacity="0.2",style="filter:alpha(opacity=5);-ms-filter:alpha(opacity=5);margin-bottom:15px;width:605px;height:300px; box-shadow:1px 1px 5px 5px #ccc")
                    span(style="position: absolute; top: 5px; left: 10px; width: 150px", class="eventimgs")  #{objs[i].date} #{objs[i].title}
          - }

p(class="btn01")
  a(href="./eventEntry.html") 登録ページ

  div#tadasukeaudio.
    <audio id="myaudio" src="/music/Kalimba.mp3" loop autoplay>
