extends ./layout

block scripts
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/lity.min.css')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDcN2cxxQpN56tXjSjaNsfjm151mW2RiMw')
    script(type='text/javascript', src='/javascripts/kamigou.js')
    script(type='text/javascript', src='/javascripts/jquery-2.2.4.js')
    script(type='text/javascript', src='/javascripts/lity.min.js')

block content
  // ここに処理を書いてください。
  img(src="/images/title_c.png")
  div.content
    div#map_container
        div#EventDetailMap(style="width: 100%; height: 100px; top: 0;")
        script.
          var filePath = "/event/#{file_name}"
    br
    p(class="btn01")
        a(href="./eventList") 戻る



