extends ./layout

block scripts
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDcN2cxxQpN56tXjSjaNsfjm151mW2RiMw')
    script(type='text/javascript', src='/javascripts/kamigou.js')

block content
  // ここに処理を書いてください。
  div.content
    span イベントの詳細
    br
    a(href="./eventList") Topページ
    br
    a(href="./eventDetail") 詳細ページ
    br
    a(href="./eventEntry") 登録ページ
    span ＜イベント情報＞
    div#EventDetailMap(style="width: 100%; height: 500px;")



